.button {
  border:none;
  background-color:transparent;
  color:black;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  /*background: #06D85F;*/
  text-decoration: none;
  transform: scale(1.3);
}
.bus_container {
  vertical-align: text-bottom;
  height: 15vh;
  background-color: #4d4a4b;
  color:black;
  font-size: 3.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
}
.bus_container_background_general {
  border: 2px solid white;
  border-radius:15px;
  background-color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}
.bus_container_background_bus {
  background-position: right;
  background-size:contain;
  background-repeat: no-repeat;
  background-image: url("../../static/image/background_bus.png")
}
.bus_container_border_general {
  border: 2px solid;
  border-radius:15px;
  width:80%;
  height:12vh;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}
.bus_container_border_town {
  border: 2px solid #7ca822;
  background-color: #7ca822;
}
.bus_container_border_blue {
  border: 2px solid #1b66d4;
  background-color: #1b66d4;
}
.bus_container_border_green {
  border: 2px solid #4b963c;
  background-color: #4b963c;
}
.bus_container_border_red {
  border: 2px solid #b92d3a;
  background-color: #b92d3a;
}
.bus_container_content {
  visibility: middle;
  height:13vh;
  line-height: 13vh;
}
.bus_stop_header{
  background-color: #323232;
  color : white;
}
#bus_stop_id{
  padding-left: 0px;
  text-align: left;
  font-size: 2em;
  bottom: 0;
  vertical-align: text-bottom;
}
#bus_stop_name{
  font-size: 4em;
  font-weight: bold;
}
#bus_stop_system{
  font-size: 2.2em;
  line-height: 4vh;
  padding-top: 3vh;
  right: 0;
}
#img_disabled{
  width: 43%;
  height: auto;
  padding-left: 0px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30vh auto;
  padding: 1.5vh;
  background: #323232;
  border-radius: 35px;
  width: 80%;
  height: 40%;
  position: relative;
  transition: all 2s ease-in-out;
}

/*.popup a {
  margin-top: 0;
  color: black;
  font-family: Tahoma, Arial, sans-serif;
}*/
.popup .confirm {
  transition: all 200ms;
}
.popup .confirm:hover {
  color: #06D85F;
  transform:scale(1.2);
  text-decoration: none;
}
.popup .cancel {
  transition: all 200ms;
}
.popup .cancel:hover {
  color: #06D85F;
  transform:scale(1.2);
  text-decoration: none;
}
.popup_container_border_top{
  border: 1px solid #323232;
  background-color: #7ca822;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width:100%;
  height:25vh;
  padding-top:6vh;
  padding-right:2px;
}
.popup_container_bottom {
  display: flex;
  align-items: center;
  margin-top: 0.5vh;
  border: 2px solid #323232;
  background-color: white;
  width:100%;
  height:13vh;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.popup_container_bottom >div > a{
  font-size:5em;
  color:323232;
  font-weight: 600;
  /*padding-left: 6vh;*/
}

.popup_container_bottom .popup_container_bottom_left{
  display: flex;
  align-items: center;
  border-right: 4px solid #323232;
    height: 100%;
}
.popup_container_bottom .popup_container_bottom_right{
  display: flex;
  align-items: center;
  border-left: 4px solid #323232;
    height: 100%;
}
.popup_container_top_top{
  padding-left: 3.5vh;
  width:100%;
  display: flex;
  align-items: center;
}
.popup_container_top_top > div> h2{
  font-size:8em;
  color:white;
  font-weight: 600;
}
.popup_container_top_top > div> h5{
  font-size:2.5em;
  line-height: 3.5vh;
  color:white;
}
.popup_container_top_bottom{
  padding-left: 3.5vh;
  width:100%;
  display: flex;
  align-items: center;
}
.popup_container_top_bottom > div >h5{
  font-size:2.8em;
  color:white;
  padding-top: 1.5vh;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}
/*responsive design*/
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
